* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
/*làm trang index*/
/*làm menu*/
.menu {
    background: #2C2F4B !important;
    border: 1px solid;
    padding: 1.5% 8%;
    border-bottom: 2px solid red;
}
.logo {
    padding: 0 !important;
    width: 17%;
    margin-right: 3%;
}
.menu img {
    width: 100%;
}
.menu .active {
    color: #e84545 !important;
}
.menu a {
    color: white !important;
    text-transform: uppercase;
    font-family: "Play", sans-serif;
    font-size: 15px;
}
.menu ul {
   width: 70%;
}
.menu ul li {
    margin-right: 0.4%;
}
.menu a:hover {
    color: #e84545 !important;
}
.menu .login {
    margin-left: 8%;
}
.menu .gach {
    color: white;
    margin-top: 6px;
}
.menu .sl {
    background: #28a745 ;
    padding: 7px 10px;
    border-radius: 50%;
}
.menu .dropdown-menu a {
    color: #2b2e4a !important;
}
.dropdown-menu {
    width: 170%;
}
.dropdown-menu .media {
    width: 143%;
}
.dropdown-menu .media h5{
    font-size: 16px;
    color: #2b2e4a;
    font-weight: bold;
}
.dropdown-menu ul li {
    padding: 2% 0;
    border-bottom: 1px solid #a4a4a4;
    font-size: 14px;
    color: #cccccc;
}
.dropdown-menu ul li:last-child {
    border-bottom: none;
    padding-top: 5%;
}
.dropdown-menu ul li a:hover svg {
    color: #e84545;

}
.dropdown-menu ul li a {
    font-size: 20px;
}
.dropdown-menu ul li:last-child button {
    font-size: 13px;
    margin-left: 45%;
}
.dropdown-menu ul li:hover h5 {
    color: #e84545;
}
.text_sum_money {
    color: #2b2e4a;
    margin-right: 2%;
    padding: 2% ;
    font-size: 16px;
}
.sum_money {
    color: #e84545;
    padding: 2% 0;
    font-size: 16px;
}
.dropdown-menu .media img {
    width: 70px;
    height: 70px;
}

    /*làm slide*/
.content-slide {
    position: absolute;
    top: 30%;
    left: 14%;
    z-index: 10;
    color: white;
    z-index: 1;
}
.content-slide h1 {
    font-family: "Play", sans-serif;
    text-transform: uppercase;
    font-size: 56px;
    animation: dichuyen 2s forwards ease;
    opacity: 0;
}
.content-slide h3 {
    font-family: "Play", sans-serif;
    font-size: 38px;
    animation: dichuyen2 1.5s forwards ease;
}
.content-slide p {
    font-size: 19px;
    width: 55%;
    margin: 2% 0%;
    animation: dichuyen1 1s forwards ease;
    opacity: 0;
}
.content-slide button {
    text-transform: uppercase;
    font-size: 19px;
    padding: 1% 2%;
    animation: dichuyen 1.5s forwards ease;
    opacity: 0;
}
/*làm chuyển động silde*/
@-webkit-keyframes dichuyen {
    0% { transform: translateY(-300px);  opacity: 0}
    100% { transform: translateY(0px);  opacity: 1}

}
@-webkit-keyframes dichuyen1 {
    0% { transform: translate(300px,-400px);  opacity: 0}
    100% { transform: translate(0,0);  opacity: 1}

}
@-webkit-keyframes dichuyen2 {
    0% { transform: translateX(300px);  opacity: 0}
    100% { transform: translateX(0);  opacity: 1}

}
.carousel-control-prev ,.carousel-control-next {
    visibility: hidden;
}
.slide:hover .carousel-control-next {
    visibility: visible;
}
.slide:hover .carousel-control-prev  {
    visibility: visible;
}

/*làm tiêu đề */
.mona_title {
    text-align: center;
    position: relative;
    margin: 4% auto 1%;
}
.mona_title:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 9px;
    width: 50%;
    border-top: 1px solid #2b2e4a;
    border-bottom: 1px solid #2b2e4a;
}
.mona_title:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 1px;
    width: 70%;
    background: #2b2e4a;
}
.mona_title h3 {
    margin: 0 auto;
    z-index: 2;
    font-size: 20px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #2b2e4a;
    line-height: 120%;
    padding: 20px 50px;
    width: auto;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    background: #fff;
    /*border: 3px solid;*/
    box-shadow: inset 0 3px 0 0 #2b2e4a,inset 0 -3px 0 0 #2b2e4a;
    font-family: "Play", sans-serif;
}
.mona_title h3:before, .mona_title h3:after {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    background: #fff;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: -63px;
    margin: auto 0;
    border: 4px solid #2b2e4a;
    transform: rotate(45deg) skew(26deg,26deg);
}
.mona_title h3:after {
    left: auto;
    right: -63px;
}
.mona_title h3 span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 30px;
}
.mona_title h3 span:before {
    content: "\f005";
    font-size: 14px;
    font-family: "FontAwesome";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.mona_title h3 span:after {
    content: "\f005";
    font-size: 14px;
    font-family: "FontAwesome";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.seeMore {
    text-align: center;
}
 .seeMore a {
    display: inline-block;
    color: #e84545;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
}
.seeMore a:hover {
    text-decoration: none;
    transform: translateX(15px)
}

/*danh sách sản phẩm*/

.list-item {
    width: 74%;
    margin: auto;
    /*display: flex;*/
    /*justify-content: space-between ;*/
    margin: 2% auto;
}
.list-item .card {
   text-align: center;
    border: none;
}

/*sale*/
.ribbon-wrapper {
    width:60px;
    height:60px;
    overflow:hidden;
    position:absolute;
    top:-3px;
    right:-3px
}

.ribbon {
    color:#fff;
    text-align:center;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    position:relative;
    padding:4px 0;
    left:1px;
    top:4px;
    width:80px;
    text-transform:uppercase;
    background-color:#3a5c83
}

.ribbon:before,.ribbon:after {
    content:"";
    border-top:3px solid #6e8900;
    border-left:3px solid transparent;
    border-right:3px solid transparent;
    position:absolute;
    bottom:-3px
}

.ribbon:before {
    left:0
}

.ribbon:after {
    right:0
}

.ribbon.sale {
    background-color:#2b2e4a;
    font-size: 13px;
}
.waperProduct .card {
    transition: 0.3s;
    overflow: hidden;
    cursor: pointer;
}
.waperProduct .card a {
    background: #fff;
    border: 1px solid #2b2e4a;
    color: #2b2e4a;
    font-weight: bold;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
}
/*.card {*/
    /*visibility: hidden;*/
/*}*/
.waperProduct .card a:hover {
    background:#2b2e4a ;
    color: white;
}
.waperProduct .card p {
    color: #e84545;
    font-weight: bold;
}
.waperProduct .card h5 {
    font-size: 16px;
    color: #2b2e4a;
}
.waperProduct .card:hover h5 {
    color: #e84545;
}
.waperProduct .card:hover {
    box-shadow: 1px 1px 10px #cccccc;
}
.waperProduct .card:hover a {
    opacity: 1;
    transform: translateY(0) ;
    visibility: visible;
}
.flash-del {
    text-decoration:line-through !important;
    margin-right:5px
}
.flash-sale {
    color:#f90
}
.card:hover {

}
.news {
    margin-top: 1%;
}

.news .card {
    color: white !important;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.news .card h5 {
    font-family: "Play", sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    margin: 0;
    z-index: 1;
    transition: 0.3s;
}
.news .card p {
    color: white;
    z-index: 1;
}
.news .card p:nth-child(2) {
    font-family: "Play", sans-serif;
    font-size: 37px;
    text-transform: uppercase;
    margin-bottom: 0;
    transition: 0.3s;
}
.news .card p:nth-child(3) {
    font-size: 19px;
    font-family: "Play", sans-serif;
    transition: 0.3s;
}
.news .card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.news button {
    font-size: 14px;
    z-index: 1;
    transition: 0.3s;
}
.news .thanh1,.thanh2 {
    width: 70%;
    height: 0.7px;
    background: #cccccc;
    transition: 0.3s;
    z-index: 0;
}
.news .thanh1 {
    margin-top: 1%;
}
.news .thanh2 {
    margin-bottom: 1.5%;
}
.news img {
    transition: 0.2s;
    transform: scale(1.1);
}
.news  .card:hover  img {
    transform: scale(1);
}
.news  .card:hover  .thanh1 {
    width: 50%;
    transform: rotate(45deg);
}
.news  .card:hover  .thanh2 {
    transform: rotate(-45deg);
    width: 50%;
}
.news  .card:hover  h5 {
    transform: translateY(5px);
}
.news  .card:hover  p:nth-child(2) {
    transform: translateY(5px);
}
.news  .card:hover  .text {
    transform: translateY(-5px);
}
.news  .card:hover  button {
    transform: translateY(-5px);
}
.news .hcn {
    position: absolute;
    width: 80%;
    height: 80%;
    border: 1px solid #cccccc;
    transform: scale(0);
    transition: 0.5s;
}
.news .text {
    transition: 0.3s;
}
.news  .card:hover  .hcn {
    transform: scale(1);
}
.news .thanh3,.thanh6 {
    position: absolute;
    width: 80%;
    height: 1px;
    background: #cccccc;
    transition: 0.7s;
    transform: scale(0);
}
.news .thanh4,.thanh5 {
    position: absolute;
    height: 80%;
    width: 1px;
    background: #cccccc;
    transition: 1s;
    transform: scale(0);
}
.news .thanh3 {
    top: 10%;
}
.news .thanh6 {
    bottom: 10%;
}
.news .thanh4 {
    left: 10%;
}
.news .thanh5 {
    right: 10%;
}
.news  .card:hover  .thanh3 {
    transform: scale(1);
}
.news  .card:hover  .thanh4 {
    transform: scale(1);
}
.news  .card:hover  .thanh5 {
    transform: scale(1);
}
.news  .card:hover  .thanh6 {
    transform: scale(1);
}
/*css footer*/
.footer {
    background: url("../img/bkg_footer.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    border: 1px solid;
    margin-top: 4%;
    border-top: 2px solid  #e84545;
}
.footer .content_footer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 5% 0;
}
.footer .content_footer .logo {
    width: 80%;
}
.footer .content_footer hr {
    border: 0.5px solid  #e84545;
    background:#e84545 ;
    width: 80%;
}
.footer .content_footer ul li {
    list-style-type: none;
    margin-top: 2%;
}
.footer .content_footer h5 {
    color: #ffffff;
    font-family: "Play", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.footer .content_footer svg {
    color: white;
    margin-right: 3%;
}
.footer .content_footer .firt_footer svg {
    color: #e84545;

}
.footer .content_footer .firt_footer ul li {

    margin-top: 4%;
    color: #a4a4a4;
}

.footer .content_footer a {
    color: #ffffff;
}
.footer .content_footer ul li:hover a {
    color: #e84545;
    text-decoration: none;
}
.footer .content_footer ul li:hover svg {
    color: #e84545;
}

/*trang tin tức*/
.waperNews .news_left {

}
.waperNews .news_left ul li {
    padding: 4% 6%;
    display: flex;
    border: 1px solid #e5e5e5;
    align-items: center;
}
.waperNews .news_left ul li a {
    line-height: 17px;
    font-size: 14px;
    color: #2b2e4a ;
    font-weight: bold;
    overflow: hidden;
    /*white-space: nowrap;*/
    -webkit-line-clamp:2;
    text-overflow: ellipsis;
    /*height: 38px;*/
    height: 34px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.waperNews .news_left ul li:hover a {
    text-decoration: none;
    color: white;
}
.waperNews .news_left ul li:hover  {
   background: #e84545;
}
.waperNews .news_left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 7%;

}
.waperNews .waperNewsLeft {
    padding: 0 3%;
}
.waperNews .waperNewsLeft h4 {
    color: #e84545;
    text-transform:uppercase ;
    font-size: 18px;
    padding: 8% 7%;
    border: 1px solid #e5e5e5;
    margin-bottom: 0;
    margin-top: 5%;
}
.waperNews .waperNewsLeft .liBackgroud {
    background: #f8f8f8;
}
.waperNews .waperNewsRight {
    border-left: 1px solid #e5e5e5;
}
.tintuc {
    font-size: 20px;
    color: #1c1c1c;
    font-family: "Play", sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 2% auto;
}
.waperNews .waperNewsRight .card .card_content {
    line-height: 23px;
    overflow: hidden;
    /*white-space: nowrap;*/
    -webkit-line-clamp:4;
    text-overflow: ellipsis;
    height: 92px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.waperNews .waperNewsRight .card:hover {
    box-shadow: 1px 1px 10px #cccccc;
}
.card {
    transition: 0.4s;
    overflow: hidden;

}
.waperNews .waperNewsRight .card {
    cursor: pointer;
}
.waperNews .waperNewsRight .card img {
    transition: 0.4s;
}
.waperNews .waperNewsRight .card:hover img {
    transform: scale(1.1);
}
.mash_body {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
}
.mash_new {
    z-index: 2;
    position: absolute;
    width: 70%;
    top: 13%;
    left: 15%;
    transition: 0.4s;
    visibility: hidden;
    opacity: 0;
    transform:  scale(0);

}
.mash_new .card {
    box-shadow: 1px 1px 10px #cccccc;
}
.mash_new .img {
    height: 20%;
}
.xuatHienBody {
    visibility: visible;
    opacity: 1;
}
.xuatHienNew {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.contact {
    z-index: 3;
    position: absolute;
    width: 80%;
    top: 13%;
    left: 10%;
    /*height: 80vh;*/
    padding-bottom: 1%;
    border: 1px solid;
    transition: 0.4s;
    visibility: hidden;
    opacity: 0;
    transform:  scale(0);
    transition: 0.4s;
    background: #ffffff;
    box-shadow: 1px 1px 10px #cccccc;

}
.contact img {
    width: 45%;
    margin-top: 15%;
    float: left;
}
.contact ul {
    display: inline-block;
    list-style-type: none;
    margin-left: 3%;
    margin-top: 7%;
}
.contact ul li {
    margin-top: 4%;
    font-size: 16px;
    color:#2b2e4a ;
}
.contact iframe {
    width: 100%;
    height: 70vh;
    z-index: 4;
    margin-top: 7%;
}
.contact  svg {
    color: #e84545;

}
.xuatHienContact {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.login_register {
    z-index: 3;
    position: absolute;
    width: 60%;
    top: 20%;
    left: 20%;
    padding: 5% 0%;
    transition: 0.4s;
    visibility: hidden;
    opacity: 0;
    transform:  scale(0);
    transition: 0.4s;
    background: #ffffff;
    box-shadow: 1px 1px 10px #cccccc;

}
.login_register h3 {
    text-transform:uppercase ;
    color: #1c1c1c;
    font-size: 24px;
    font-family: "Play", sans-serif;
    padding-left: 3% ;

}
.login_register  form {
    padding: 0 3%;
    color: #222;
    font-size: 16px;
}
.login_register  form button {
    text-transform:uppercase ;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: "Play", sans-serif;
    background: #2b2e4a;
    border: #2b2e4a;
}
.login_register  form button:hover {
    background: #22253b;
}
.xuatHienLogin {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

/*Làm trang chi tiết sản phẩm*/
.detailProduct {
    margin-top: 5%;
}
.detailProduct .detail_left h4 {
    text-transform:uppercase ;
    font-size: 17px;
    color: #e84545;
    font-weight:600;
    margin-top: 5%;

}
.detailProduct .detail_left ul li {
    font-size: 15px;
    color: #2b2e4a;
    font-weight: bold;
}
.detailProduct .detail_left ul .hoverLi:hover {
    background: #e84545;
    color: white;
    cursor: pointer;
}
.detailProduct .detail_left ul .hoverLi:hover .sale {
    color: white;
}
.activeLi {
    background: #e84545;
    color: white;
}

.detailProduct .detail_left ul:last-child {
    margin-top: 15%;
}
.detailProduct .detail_left .media img  {
    width: 64px;
    height: 64px;
}

.detailProduct .detail_left ul:last-child .hoverLi {
    padding: 5%;
}
.detailProduct .detail_left ul:last-child h5 {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    width: 150px;

}
.detailProduct .detail_left .unit {
    color: tomato;
    font-weight: 500;
    text-decoration: line-through;
}
.detailProduct .detail_left .sale {
    color: #e84545;
}

.detailProduct .waperDetailRight .img_detail img {
    width: 100%;
}
.detailProduct .waperDetailRight .sale_detail {
    color: tomato;
    font-size: 20px;
    text-decoration: line-through;
}
.detailProduct .waperDetailRight .list_img_detail img {
    width: 120px;
    height: 120px;
    margin-right: 2%;
    transition: 0.4s;
    overflow: hidden;

}
.detailProduct .waperDetailRight .list_img_detail img:hover {
    transform: scale(1.1);
    border: 1px solid #cccccc;
}
.activeImg {
    transform: scale(1.1);
    border: 1px solid #cccccc;
}
.detailProduct .waperDetailRight {
    border-left: 1px solid #cccccc;
}
.detailProduct .waperDetailRight input {
    display: inline;
    width: 20%;
    margin: 0 2%;
}
.detailProduct .waperDetailRight button {
    font-family: "Play", sans-serif;
    text-transform: uppercase;
    margin-left: 5%;
}
.detailProduct .waperDetailRight .textDetail {
    color: #2b2e4a;
    font-size: 16px;
    font-weight: bold;
}
.detailProduct .waperDetailRight p:nth-child(1) {
    text-transform:uppercase ;
    font-size: 15px;
    color: #cccccc;
}
.detailProduct .waperDetailRight h3 {
    font-family: "Play", sans-serif;
    font-size: 27px;
    color: #1c1c1c;
    font-weight: 700;
}
.detailProduct .waperDetailRight p:nth-child(3) {
    font-size: 24px;
    color: #e84545;
}
.detailProduct .waperDetailRight hr {
    margin: 5% 0;
}
/*.detailProduct .waperDetailRight .nav-tabs .nav-item {*/
    /*border: 1px solid #cccccc;*/
    /*border-right: none;*/
    /*!*background: #2b2e4a;*!*/
/*}*/
/*.detailProduct .waperDetailRight .nav-tabs .nav-item a {*/
    /*border: none;*/
/*}*/
.detailProduct .waperDetailRight .tab-content  {
    padding: 5%;
}
.detailProduct .waperDetailRight .tab-content textarea {
    width: 100%;
}
.detailProduct .waperDetailRight .tab-content button {
    margin: 2% 0 0 0;
}
.detailProduct .waperDetailRight .tab-content .list-unstyled {
    margin: 5% 0 0 0;
}
.detailProduct .waperDetailRight .tab-content .list-unstyled .text-muted {
    font-size: 14px;
}
.detailProduct .waperDetailRight .tab-content .list-unstyled .card-text {
    margin: 0;
    padding: 0;
    line-height: 20px;
}
.detailProduct .waperDetailRight .tab-content .list-unstyled .card-title {
    margin: 2% 0 1% 0;
    color: #2b2e4a;
}

/*làm trang danh sách sản phẩm*/
.waperListProductLeft ul:nth-child(2) {
    margin-top: 15%;
}
.waperListProductLeft ul:nth-child(2) button {
    margin-right: 8%;
}
.waperListProductlRight {
    border-left: 1px solid #cccccc;
}
.waperListProductlRight h3 {
    text-align: center;
    font-size: 20px;
    color: #cccccc;
    width: 100%;
    margin-bottom: 10%;
}
.waperListProductlRight h3 span {
    color: #222222;
}


.waperListProductlRight .card a {
    background: #fff;
    border: 1px solid #2b2e4a;
    color: #2b2e4a;
    font-weight: bold;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
}

.waperListProductlRight .card a:hover {
    background:#2b2e4a ;
    color: white;
}
.waperListProductlRight .card p {
    color: #e84545;
    font-weight: bold;
}
.waperListProductlRight .card h5 {
    font-size: 16px;
    color: #2b2e4a;
}
.waperListProductlRight .card:hover h5 {
    color: #e84545;
}
.waperListProductlRight .card:hover {
    box-shadow: 1px 1px 10px #cccccc;
}
.waperListProductlRight .card:hover a {
    opacity: 1;
    transform: translateY(0) ;
    visibility: visible;
}
/*.waperListProductlRight {*/
    /*!*width: 74%;*!*/
    /*margin: auto;*/
    /*!*display: flex;*!*/
    /*!*justify-content: space-between ;*!*/
    /*margin: 2% auto;*/
/*}*/
.waperListProductlRight .card {
    text-align: center;
    border: none;
}

/*làm giỏ hàng*/
.my_cart {
    padding: 3% 0 0 0;
}
.my_cart .my_cart_left img {
    width: 100px;
}
.my_cart .my_cart_left .soluongTable {
    width: 17%;
}
.my_cart .my_cart_right {
    border-left: 1px solid #cccccc;
}
.my_cart .my_cart_right h3 {
    font-family: "Play", sans-serif;
    text-transform:uppercase ;
    margin-bottom: 5%;

}

